<template>
  <svg
    :style="'width: ' + this.width + '; height: ' + this.height"
    viewBox="0 0 24 24"
    class="inline-block"
  >
    <path
      fill="currentColor"
      d="M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1Z"
    />
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: String,
      default: '24px',
    },
    height: {
      type: String,
      default: '24px',
    },
  },
}
</script>
