<template>
  <div class="main font-sans dark:bg-current dark:text-gray-100">
    <Nuxt />
  </div>
</template>

<style>
.main {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
  background-color: #263238;
}
</style>
