<template>
  <div
    class="
      container-fluid
      h-screen
      max-w-screen max-h-screen
      divide-y divide-darkee
    "
  >
    <div class="h-1/6 flex items-center justify-between px-3">
      <div class="flex items-center">
        <div class="inline-block text-xl">ReJS</div>
        <div class="mx-2 inline-block text-sm text-gray-400">
          The JavaScript REPL
        </div>
        <div
          :hidden="!isExternal"
          class="text-black bg-yellow-500 p-1 rounded-md font-bold"
          @click="showExternalWarningModal"
        >
          You are running external code.
        </div>
      </div>
      <div class="flex">
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="bg-blue-700 text-white p-1 rounded-md font-bold"
          @click="
            save()
            isModalShown = !isModalShown
          "
        >
          <save-icon /> Save
        </a>
      </div>
    </div>
    <div class="h-5/6 flex divide-x divide-darkee">
      <div class="flex-initial code">
        <textarea
          id="code-textarea"
          class="h-screen font-mono text-sm"
          name="input"
          cols="100"
          rows="30"
          placeholder="Type your code here..."
        ></textarea>
      </div>
      <div class="flex-initial output">
        <textarea
          id="code-output"
          class="h-screen font-mono text-sm"
          name="input"
          cols="100"
          rows="30"
        ></textarea>
      </div>
    </div>
    <div
      class="fixed top-0 h-screen w-screen overlay bg-opacity-50 z-50 bg-black"
      :hidden="!isModalShown"
    >
      <div class="modal flex items-center justify-center h-screen w-screen">
        <div
          class="
            bg-gray-200
            w-1/2
            h-1/2
            xs:h-screen
            xs:w-screen
            text-gray-900
            flex flex-col
            divide-y divide-opacity-25 divide-darkee
          "
        >
          <div class="text-lg h-4/5 p-3 flex flex-col">
            <h1 class="text-2xl font-semibold">{{ modalTitle }}</h1>
            {{ modalText }}
            <div :hidden="!modalInputEnabled" class="my-3">
              <input
                type="text"
                :value="modalInputText"
                disabled
                class="
                  w-full
                  rounded-md
                  border border-gray-400
                  text-gray-700
                  px-1
                "
              />
            </div>
            <br />
            {{ modalText2 }}
          </div>
          <div class="flex items-center justify-end p-3 h-1/5">
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="bg-green-600 text-white p-1 rounded-md font-bold mr-1"
              :hidden="!modalUntrusted"
              @click="
                modalUntrustedCallback()
                isModalShown = !isModalShown
              "
            >
              <secure-icon /> Untrust
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="bg-blue-700 text-white p-1 rounded-md font-bold"
              @click="
                save()
                isModalShown = !isModalShown
              "
            >
              <close-icon /> Exit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable no-console */
/* eslint-disable no-eval */

import '../assets/codemirror.css'
import '../assets/cm-theme-material.css'
import Vue from 'vue'
import CodeMirror from '../assets/codemirror.js'
import '../assets/cm-mode-javascript.js'
import '../assets/cm-addon-placeholder.js'

import SaveIcon from '~/components/SaveIcon.vue'
import CloseIcon from '~/components/CloseIcon.vue'
import SecureIcon from '~/components/SecureIcon.vue'

export default Vue.extend({
  components: {
    SaveIcon,
    CloseIcon,
    SecureIcon,
  },
  data() {
    return {
      code: new CodeMirror(),
      codeOut: new CodeMirror(),
      isModalShown: false,
      modalTitle: 'modalTitle',
      modalText: 'modalText',
      modalInputEnabled: true,
      modalInputText: 'modalInputText',
      modalText2: 'modalText2',
      modalUntrusted: false,
      modalUntrustedCallback: () => {},
      isExternal: false,
      sessionUuid: '',
      sessionToken: '',
    }
  },
  async mounted() {
    const code: any = CodeMirror.fromTextArea(
      document.getElementById('code-textarea'),
      { mode: 'javascript', lineNumbers: true, theme: 'material' }
    )
    const codeOut: any = CodeMirror.fromTextArea(
      document.getElementById('code-output'),
      {
        mode: 'javascript',
        theme: 'material',
        readOnly: true,
        cursorHeight: 0,
        cursorBlinkRate: 0,
      }
    )

    code.on('change', function (instance: any) {
      console.log(instance.doc.getValue())
      let evaluated
      try {
        evaluated = eval(instance.doc.getValue())
      } catch (exception: any) {
        codeOut.doc.setValue(`${exception}`)
        return
      }

      let evaluatedParsed: string

      if (typeof evaluated === 'string') {
        evaluatedParsed = `"${evaluated.replace(/"/gi, '\\"')}"`
      } else {
        evaluatedParsed = evaluated
      }

      codeOut.doc.setValue(`${evaluatedParsed ?? ' '}`)
    })
    codeOut.on('change', function (instance: any) {
      console.log('Out: ' + instance.doc.getValue())
    })

    this.code = code
    this.codeOut = codeOut

    document
      .getElementsByClassName('CodeMirror')[0]
      .classList.add('font-mono', 'text-sm')
    document
      .getElementsByClassName('CodeMirror')[1]
      .classList.add('font-mono', 'text-sm')

    if (window.location.hash.split('#').join('')) {
      if (!localStorage.getItem(window.location.hash.split('#').join(''))) {
        const confirmResult = confirm(
          'WARNING: Opening external code can be dangerous and may damage your system or steal personal data.\nDo you want to trust this code?'
        )
        if (confirmResult) {
          localStorage.setItem(
            window.location.hash.split('#').join(''),
            'Trusted'
          )
          const fetchedCode = await this.$axios
            .get(
              `${
                window.location.origin
              }/api/get-value?uuid=${window.location.hash.split('#').join('')}`
            )
            .then((r) => r.data)
          code.doc.setValue(fetchedCode)
          this.isExternal = true
        }
      } else {
        const fetchedCode = await this.$axios
          .get(
            `${window.location.origin}/api/get-value?uuid=${window.location.hash
              .split('#')
              .join('')}`
          )
          .then((r) => r.data)
        code.doc.setValue(fetchedCode)
        this.isExternal = true
      }
    }

    const createdSession = await this.$axios
      .get(`${window.location.origin}/api/create-session`)
      .then((r) => r.data)

    this.sessionUuid = createdSession.data.uuid
    this.sessionToken = createdSession.data.storeValue.token
    console.log(createdSession)
  },
  methods: {
    async save() {
      const codeValue = this.code.doc.getValue()

      await this.$axios.post(`${window.location.origin}/api/update-value`, {
        session: this.sessionUuid,
        token: this.sessionToken,
        value: codeValue,
      })

      this.modalTitle = 'Saved project'
      this.modalText =
        'Your code has been saved. You can also share the link below!'
      this.modalInputEnabled = true
      this.modalInputText = `${window.location.origin}/#${this.sessionUuid}`
      this.modalText2 = ''
    },
    showExternalWarningModal() {
      this.modalTitle = 'External code'
      this.modalText =
        'You are running external code. This could give attackers access to your IP address or other personal data.'
      this.modalText2 =
        'It is not recommended to do. If you want to un-trust this code, click "Untrust" blow.'
      this.modalInputEnabled = false
      this.modalUntrusted = true
      this.modalUntrustedCallback = () => {
        console.log('test')
      }
      this.isModalShown = true
    },
  },
})
</script>

<style>
.code {
  width: 50%;
  max-width: 50%;
  height: 100%;
  max-height: 100%;
}

.output {
  width: 50%;
  max-width: 50%;
  height: 100%;
  max-height: 100%;
}

.CodeMirror {
  height: 100%;
}

.transform-middle {
  transform: translate(-50%, -50%);
}
</style>
